
body
{
    border: black 2px solid;
    overflow: scroll;
}

h1{
    text-align: center;
    background-color: aqua;   
}
h2
{
    text-align: center;
    background-color: rgb(101, 113, 122);
}
table,td{
    border: black 2px solid;
      border-collapse: collapse;


}
pre{
    font-family: 'Times New Roman', Times, serif;
    
}
a,span{
    margin-left: 10%;

}

